# فرض استخدام بايثون 3.10 (هذا السطر هو الحل السحري)
python_version==3.10.13

flask
torch
torchvision
opencv-python-headless
numpy==1.26.4
basicsr
realesrgan
gunicorn
eventlet
toml
requests
